# Stellar Soroban Crowdfunding Platform Environment Variables
# Copy this template file to .env before starting the Vite dev server

# Stellar Soroban RPC Endpoint (Testnet / Mainnet)
VITE_RPC_URL=https://soroban-testnet.stellar.org

# Stellar Network Passphrase
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Deployed CampaignManager Smart Contract Address (Stellar Testnet C... Contract ID)
VITE_CAMPAIGN_MANAGER_ID=CAPFOLYX5LZRFZZUPV374HOEXGLIA7QN3SR5SHA5V75W6PBZBK4KM52V

# Deployed DonationManager Smart Contract Address (Stellar Testnet C... Contract ID)
VITE_DONATION_MANAGER_ID=CAYUM76UIQMEQLE4JBMV2BJWWALTX3T5SGTKV75XBGCE2GQHN3A6YJKR
